# Tuples
Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple Items
They are ordered, immutable(unchangeable), and allow duplicate values, they are also indexed
- ORDERED - when we say tuples are ordered, it means that the items have a defined order, and that order will not change.

- UNCHANGEABLE - they cannot be changed, add or remove items after the tuple has been created

- ALLOW DUPLICATES - as they are indexed, they can have items with the same value:

In [ ]:
thistuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple1)

('apple', 'banana', 'cherry', 'apple', 'cherry')

##### Tuple Length - len() function is used

In [ ]:
print(len(thistuple))

3

Creating a tuple with one item - if we want to create a tuple with only one item, we must add a comma after the item, otherwise Python won't recognize it as a tuple

In [ ]:
thistuple2 = ("ram",)
print(type(thistuple2))
print(thistuple2)

#NOT a tuple
thistuple2 = ("apple")
print(type(thistuple2))
print(thistuple2)

<class 'tuple'>
('ram',)
<class 'str'>
apple

#### Type items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,2,4)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 2, 4)
(True, False, False)

#### A tuple can be with multiple data types

In [ ]:
tupleeee = ("abc", 1, True, 34, "male")
print(tupleeee)

('abc', 1, True, 34, 'male')

#### The tuple() Constructor - we can also make a tuple with the help of tuple() constructor

In [ ]:
thistuplee = tuple(("apple", "banana"))
print(thistuplee)

('apple', 'banana')