## Join Sets
There are sever ways to join two or more sets:
- `union()` and `update` -> joins all items from both sets

- `intersection()` -> keeps ONLY the items which are on both sets

- `difference()` -> keeps items from the first set that are not in other set(s)

- `symmetric_difference()` -> keeps all items EXCEPT the duplicates

## Union
- `union()` method returns a new set with all items from both sets

In [16]:
set1 = {1, 2, 3}
set2 = {'p', 'q', 'r'}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'q', 'p', 'r'}

##### We can use the `|` operator instead of the `union()` method, we will get the smae result

In [17]:
set1 = {1, 2, 3}
set2 = {'p', 'q'}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'q', 'p'}

## Join Multiple Sets
all the joining methods and operators can be used to join multiple sets.

Wehn using a method, we just add more sets in the parentheses, separated by commas:

In [18]:
set1 = {"a", 'b', 'c'}
set2 = {1, 2, 3}
set3 = {"Ram", "Krishna"}
set4 = {"c", "java"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'Ram', 'Krishna', 'java', 'b', 'a'}

When using the `|` operator, separate the sets with more `|` operators:

In [19]:
set1 = {"p", 'q', 'r'}
set2 = {11, 22}
set3 = {"Ram", "Krishna"}
set4 = {"c", "java"}

myset = set1 | set2 | set3 | set4
print(myset)

{'c', 'Ram', 'Krishna', 11, 'q', 'p', 'r', 22, 'java'}

## Join a set and a Tuple

##### The `union()` method allows us to join a set with other data types, like lists or tuples.

##### The result will be a set

In [20]:
x = {'a', 'b', 'c'}
y = (1, 2, 4)

z = x.union(y)
print(z)

{'c', 2, 1, 4, 'b', 'a'}

> Note: The `|` operator only allows us to join sets with sets...

## Update
##### The `update()` method inserts all items form one set into another. It changes the original set, and does not return a new set.

In [21]:
set1 = {'a', 'b', 'c'}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

> Note: Both `union()` and `update()` will exclude any duplicate items.

## Intersection
### Returns a new set, that only contains the items that are present in both sets.

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

##### We can use the `&` operator instead of the `intersection()` method...

In [23]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

> Note: The `&` operator only allows us to join sets with sets, and not other data types like we can with `intersection()` method

##### The `intersection_update()` method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [24]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.

Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [25]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

## Difference 
 will return a new set that will contain only the items from the first set that are not present in the other set.

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the `-` operator instead of the `difference()` method, and you will get the same result.

In [27]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

>Note: The `-` operator only allows you to join sets with sets, and not with other data types like you can with the `difference()` method.

### The `difference_update()` method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

## Symmetric Differences
The `symmetric_difference()` method will keep only the elements that are NOT present in both sets.

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

You can use the `^` operator instead of the `symmetric_difference()` method, and you will get the same result.

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

>Note: The `^` operator only allows you to join sets with sets, and not with other data types like you can with the `symmetric_difference()` method.> Note:

The `symmetric_difference_update()` method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'banana', 'cherry', 'microsoft'}