## Python For Loops

`for` loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the `for` keyword in other programming languages, and works more like an _**iterator**_ method as found in other OOP languages.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
fruits = ["Apple", "Banana", "Pomegranate", "Dragon Fruit"]
for x in fruits:
    print(x)

Apple
Banana
Pomegranate
Dragon Fruit

> `for` loop does not require an indexing variable to set beforehand

## Looping through a string

even string are iterable objects, they contain sequence of characters:

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

## `break` statement

In [4]:
fruits = ["Apple", "banana"]

for x in fruits:
    print(x)
    if x=="Apple":
        break

Apple

## `continue` statement

In [5]:
fruits = ["apple", "banana", "strawberry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
strawberry

## The `range()` function

To loop through a set of code a specified number of times, we can use the `range()` funcion.

The `range()` function returns a sequence of numbers, starting form 0 by default, and increments by 1 (by default), and ends at a specific number.

In [6]:
for x in range(6):
    print(x)

0
1
2
3
4
5

> *Note that `range(6)` is not the values of 0 to 6, but the values 0 to 5.

`range()` defaults to 0 as starting value, but we can specify the starting value by adding a parameter: `range(2,6)`, which means values form 2 to 6(excluding 6)

In [7]:
for x in range(2, 6):
    print(x)

2
3
4
5

Also `range()` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`

In [8]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop

the `else` keyword in a `for` loop specifies a block of code to be executed when the loop is finished:

In [9]:
for x in range(5):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
Finally finished!

> *NOTE: the `else` block will NOT be executed if the loop is stopped by a `break` statementtt

In [10]:
for x in range(3):
    if x == 2: break
    print(x)
else:
    print("Finally finished")

0
1

## Nested Loops

A nested loop is a lopp inside a loop obviouslyyy

The "inner loop" will be executed one time for each iteration fo the "outer loop":

### Printing each adjective for every fruit:

In [11]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "cherry", "strawberry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red cherry
red strawberry
big apple
big cherry
big strawberry
tasty apple
tasty cherry
tasty strawberry

## The pass Statement
`for` loops cannot be empty, but if you for some reason have a `for` loop with no content, put in the `pass` statement to avoid getting an error

In [12]:
for x in [0, 1, 2]:
    pass